* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Sibling selector */
.spetialp+.spetailh1 {
    color: violet;
}

div#container p.colorLeter {
    font-family: sans-serif;
    color: teal;
}