/* This is a comment */

/* Cascade */

/* Style sheet */

/* What I want to syle?? */
/* Selectors: Indicates what I want to style */ 

h1 {
    /* Declarations: Styles the elements */
    /* Every CSS declaration MUST end with ; (semicolon) */
    color: red;
    background-color: gray;
    font-size: 50px;
    font-family: myFont;
    text-align: center;
    /* The color will be overrided */ 
    color: green;
}

@font-face {
    font-family: myFont;
    src: url(fonts/PaletteMosaic-Regular.ttf);
}

p {
    color: rgb(255, 40, 255);
    text-align: left;
    letter-spacing: 1px;
    line-height: 30px;
    column-count: 4;
}

h2 {
    color: rgb(43, 12, 65);
}

div {
    background-color: turquoise;
    border: 3px salmon solid;
    border-radius: 15px;
}

ul {
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-bottom: 4px dashed black;
}

li {
    text-decoration: underline;
    list-style-type: none;
    font-family: sans-serif;
    text-shadow: 1px 1px;
}

body {
    background-color: azure;
}