footer {
    position: absolute;
    bottom: 0px;
    width: 100vw; /* Viewport width */
    height: 12vh;
    background-color: whitesmoke;
}

div.country {
    color: gray;
    padding: 15px;
    padding-left: 25px;
    /* Add a line on the bottom */
    border-bottom: 1px solid gray;
}

div.info {
    color: gray; 
    padding: 10px;
}

span.right {
    position: absolute; 
    right: 20px;
}

span.left {
    position: absolute; 
    left: 25px;
}

span > a {
    margin-right: 10px;
}