* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;   
    font-family: sans-serif;
}

body {
    /* Change background image */
    background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/01/new-super-mario-bros-2200751.jpg?itok=9ndGLszN");
}