img.logo {
    /* All imgs by default are set to inline */
    display: block;
    /* Block: padding, margin */
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    height: 120px;
    width: 350px;
    z-index: 0;
}

.searchbar {
    /* Centers the elements (2 lines) */
    display: block; 
    margin: auto;  
    width: 600px;
    height: 50px;
    /* Make border rounded */
    border-radius: 30px;
    border: 1px solid gray;
    font-size: 24px;
    padding-left: 30px;
}

/* Take out the blue line when the input is clicked */
.searchbar:focus {
    outline: none;
}

.searchbar:hover {
    border: none;
    box-shadow: 0 0 10px gray;
    z-index: 1
}

div.btn_container {
    margin-top: 30px;
    text-align: center;
}

div.btn_container > button {
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
}

div.btn_container > button:hover {
    box-shadow: 0 0 10px gray;
}

div.info_container {
    text-align: center;
    margin-top: 20px;
}

div.info_container > p {
    display: inline;
}

div.info_container > a {
    color: purple;
}